body {
    overflow-x: hidden;
    user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif; 
}

.start {
    position: absolute;
    width: 70vw;
    height: auto;
    top: 12vh;
    left: 15vw;
    border-radius: 3%;
    background-color: #E4E8F4;
    text-align: center;
    display: none;
    font-size: 50px;
	padding-bottom: 5vh;
	min-width: 400px;
}

.button-row {
    position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
}

.popup-button {
	height: 150px;
    border-radius: 2%;
    background-color: #aabbd4;
    padding: 0;
    border: none;
    outline: none;
    font-size: 35px;
	display: inline-block;
	margin: 20px;
}

.popup-button:hover {
    cursor: pointer;
    opacity: .85;
}

.password-generator-button, .password-strength-button {
    width: 400px;
}

.strong-password-button {
    width: 300px;
}

#back-button {
    position: absolute;
    left: 20px;
    top: 20px;
    width: 50px;
    height: auto;
    display: none;
    z-index: 1;
}

#back-button:hover {
    cursor: pointer;
    opacity: .85;
}

.password-generator, .password-strength-checker {
    visibility: hidden;
}

.text-ask {
    position: relative;
    top: 3vh;
    left: 0;
    width: 100vw;
    height: auto;
    text-align: center;
    font-size: 28px;
}

#ask {
    width: 2em;
    height: auto;
    font-size: 36px;
    text-align: center;
    border-radius: 4%;
}

#button {
    width: 100px;
    height: 8vh;
    border-radius: 5%;
    background-color: #aabbd4;
    padding: 0;
    border: none;
    outline: none;
    font-size: 20px;
    
}

#required {
    position: relative;
    top: 14vh;
    left: 0;
    width: 100vw;
    height: auto;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22px;
    color: #f00;
    visibility: hidden;
}

#button:hover {
    opacity: .85;
    cursor: pointer;
}

.text-password {
    position: relative;
    top: 20vh;
    left: 0;
    width: 100vw;
    height: auto;
    text-align: center;
    font-size: 30px;
}

#password, #password-check {
    width: 25em;
    text-align: center;
    outline: none;
    border-radius: 4%;
	font-size: 24px;
}

#copied {
    margin-bottom: 7em;
    visibility: hidden;
    font-size: 24px;
    color: #0f0;
}

#checker-header {
    position: absolute;
    top: 10vh;
    left: 0;
    width: 100vw;
    height: 100vh;
    text-align: center;
	font-size: 30px;
}

#strength-indicator {
    position: relative;
    font-size: 28px;
    display: none;
}